@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply border border-white rounded-md p-2 w-full;
  @apply mb-3;
}

input:focus,
textarea:focus,
select:focus {
  @apply border border-black outline-none;
}

h1 {
  @apply text-[#0c0c0c] mb-4 text-xl font-bold;
}

label {
  @apply text-[#0c0c0c];
}

.btn-primary {
  @apply bg-[#FCD3BC] text-[#0c0c0c];
}

.btn-secondary {
  @apply bg-[#B8E0FF] text-[#0c0c0c];
}

.btn-red {
  @apply bg-red-700;
}
.btn-success {
  @apply bg-[#AEFFBE] text-[#0c0c0c];
}
.btn-default {
  @apply bg-gray-200 text-[#0c0c0c];
}
.btn-red,
.btn-default,
.btn-success,
.btn-primary,
.btn-secondary {
  @apply p-2 rounded-md hover:shadow-[2px_5px_27px_-8px_rgba(0,0,0,0.3)];
}
table.basic {
  @apply w-full;
}
table.basic thead tr td {
  @apply bg-blue-100 font-bold;
}
table.basic tr td {
  @apply border border-[#B8E0FF] p-2;
}
table.basic a {
  @apply bg-[#B8E0FF] text-[#0c0c0c] hover:shadow-[2px_5px_27px_-8px_rgba(0,0,0,0.3)] p-2 rounded-md inline-flex;
}
